body {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, blue, black);
}

.calculator {
  width: 350px;
  height: 93vh;
  margin: auto;
  border: 10px black solid;
  border-radius: 10px;
  background: linear-gradient(180deg, skyblue, blue, black);
  box-shadow: 0px 0px 500px blue;
  padding: auto;
}

.time {
  border-bottom: 2px solid black;
  margin: 0;
  border-top: 2px solid black;
  background: linear-gradient(10deg, blue, black)
}
.time p {
  margin-left: 7px;
  color: black;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  font-size: 20px;
  text-shadow: 3px 3px 5px #888888;
  margin-bottom: 2px;
  margin-top: 3px;
}
.time i {
  position: absolute;
  margin-left: 300px;
  margin-top: -23px;
  margin-right: 20px;
  size: 60px;
  color: white;
}

.inputs {
margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.inputs input {
  font-size: 20px;
  text-align: center;
  border: 2px solid ;
  border-radius: 10px;
  font-family: monospace;
  width: 150px;
  color: black;
  box-shadow: 5px 5px blue;
  width: 150px;
  margin: 10px;
  height: 50px;
  background: linear-gradient(10deg, skyblue, blue);
}

.screen {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.screen p {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  border: 5px solid rgb(21, 0, 255);
  border-radius: 10px;
  text-align: center;
  background: blue;
  color: black;
  box-sizing: border-box;
  box-shadow: 0 0 50px blue;
  margin-top: 60px;
}

.buttons {
  display: grid;
  grid-template-columns: 100px 90px 100px;
  grid-template-rows: auto;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin-top: 60px;
  line-height: 1em;
}

.buttons button {
  margin-top: 10px;
  padding: 5px;
  width: 90px;
  height: 50px;
  line-height: 4vh;
  box-sizing: border-box;
  background: blue;
  color: black;
  border: 0.5px solid black;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.bar {
  border-top: 1.5px solid black;
}
